html *
{
	font-family: arial !important;
}
#footer.footer-wrapper, #dummy-footer
{
	height: 51px;
}
#footer.bottom
{
	width: 100%;
	position: absolute;
	bottom: 0px;
}
#footerDeveloped
{
	position: relative;
	margin-top: 1em;
	text-align: center;
	width: 100%;
}