.header
{
	padding-bottom: 20px;
}

.header, .header img, .header h3
{
	display: block;
	margin: auto;
	text-align: center;
	color: #000099;
	font-family: arial
}

.water-levels
{
	font-size: 13px;
	font-family: arial;
	margin: auto;
}
h4
{
	font-size: initial;
}

tr
{
	vertical-align: top;
}

td
{
	vertical-align: top;
}
img#watershed
{
	display: initial;
	width: 100%;
}

table, tr
{
	width: initial;
}

.date-inputs
{
	text-align: right;
}

.date-inputs,label
{
	font-weight: bold;
}
.date-inputs input
{
	vertical-align: middle;
}

.italic
{
	font-style: italic;
}

.bold
{
	font-weight: bold;
}

.embed-container
{
	position: relative;
	padding-bottom: 68%;
	height: 0;
	max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container iframe
{
	position: absolute;
	top: 0;
	left: 0;
	width: 1280px;
	height: 883px;
	transform-origin: 0 0;
	transform: scale(0.734375, 0.723882);
}
small
{
	position: absolute;
	z-index: 40;
	bottom: 0;
	margin-bottom: -15px;
}