@media only screen and (min-device-width : 740px)
{
	td.disclaimer2
	{
		display: none;
	}
}
@media only screen and (max-device-width : 740px)
{
	.embed-container,
	td.disclaimer2
	{
		display: none;
	}
	td.view-data select
	{
		text-overflow: ellipsis;
		width: 100%;
	}
}
@media only screen and (min-device-width : 660px) and (max-device-width : 740px)
{
	td.view-data
	{
		width: calc(100% * (261/938));
	}
	td.disclaimer
	{
		width: calc(100% * (677/938));
	}
}
@media only screen and (max-device-width : 660px)
{
	td.view-data
	{
		width: 100%;
	}
	td.disclaimer
	{
		display: none;
	}
	td.disclaimer2
	{
		display: table-cell;
	}
}


.header
{
	padding-bottom: 20px;
}

.header, .header img, .header h3
{
	display: block;
	margin: auto;
	text-align: center;
	color: #000099;
	font-family: arial
}

.contacts
{
	margin-left: 20px;
}
.button-center
{
	width: 100%;
	text-align: center;
}

.water-levels
{
	font-size: 13px;
	font-family: arial;
	margin: auto;
}
h4
{
	font-size: initial;
}

tr
{
	vertical-align: top;
}

td
{
	vertical-align: top;
}
img#watershed
{
	display: initial;
	width: 100%;
}

table, tr
{
	width: initial;
}

.date-inputs
{
	text-align: right;
}

.date-inputs,label
{
	font-weight: bold;
}
.date-inputs input
{
	vertical-align: middle;
}

.italic
{
	font-style: italic;
}

.bold
{
	font-weight: bold;
}

.embed-container
{
	position: relative;
	padding-bottom: 68%;
	height: 0;
	max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container iframe
{
	position: absolute;
	top: 0;
	left: 0;
	width: 1280px;
	height: 883px;
	transform-origin: 0 0;
	transform: scale(0.734375, 0.723882);
}
small
{
	position: absolute;
	z-index: 40;
	bottom: 0;
	margin-bottom: -15px;
}