#flood-msg-form-2 .flood-msg-container
{
	background: url('/current-conditions/images/Bar.jpg') round;
	background-size: contain;
}
.flood-msg-container #drought-img
{
	background-repeat: round;
	background-size: contain;
}