.content-part-wrapper.slider-off .container .content-wrapper .page-wrapper .gdl-page-float-left .gdl-page-item div .gdl-page-content,
h1,
h2,
h3,
h4,
h5,
h6,
input[type="date"]
{
	font-family: arial;
}
#footer.footer-wrapper, #dummy-footer
{
	height: 51px;
}
#footer.bottom
{
	width: 100%;
	position: absolute;
	bottom: 0px;
}
#footerDeveloped
{
	position: relative;
	margin-top: 1em;
	text-align: center;
	width: 100%;
}