@media only screen and (max-device-width : 740px)
{
	.scroll-container table
	{
		min-width: 548px;
	}
}
table.water-levels:not(:first-of-type)
{
	font-size: 13px;
	font-family: arial;
	margin: auto;
	margin-top: 30px;
}

tr.title th
{
	font-size: 18px;
	color: #000099;
	text-align: center;
}
tr:not(.title) th
{
	text-align: left;
}
th p
{
	margin-bottom: 0;
}

col
{
	width: 200px;
}
#name-col
{
	width: 300px;
}

.tooltip
{
	position: relative;
	display: inline-block;
	color: #00f;
	border-bottom: 1px dotted #00f;
}

.tooltip-text
{
width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	/* Position the tooltip text */
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;

	/* Fade in tooltip */
	transition: opacity 1s;
}

.tooltip-text:after
{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:not(.show) .tooltip-text
{
	visibility: hidden;
	opacity: 0;
}