body
{
	margin: 0;
	overflow: hidden;
}
.embed-container
{
	position: relative;
	padding-bottom: 68%;
	height: 0;
	max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container iframe
{
	position: absolute;
	top: 0;
	left: 0;
	height: 883px;
	width: 1280px;
}
small
{
	position: absolute;
	z-index: 40;
	bottom: 0;
	margin-bottom: -15px;
}
#map-legend
{
	position: absolute;
	width: 1280px;
	height:175px;

	transition: top 0.1s;
	top: 859px;
}
#map-legend.up
{
	top: 700px;
}
#map-legend.up.small
{
	top: 750.68125px;
}

#legend-img
{
	/*display: none;*/
	width: 1280px;
}

.legend-window
{
	width: 1280px;
	height: 159px;
	position:relative;
	background-color: #ccc;
	background-color: rgba(0,0,0,0.2);
	transition: top 0.1s;
}
.legend-window.legend-img
{
	background-image: url("../images/map_legend.gif");
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
}
#map-legend.small .legend-window
{
	width: 876px;
	height: 108.31875;
	left: 204px;
}

.show-legend
{
	padding: 2px;
	width: 872px;
	height: 20px;
	background-color: #ccc;
	background-color: rgba(0,0,0,0.2);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;

	color: #fff;
	font-size: 16px;
	font-family: verdana;
	font-weight: bold;

	transition: top 0.1s;
	position: relative;
	left: 204px;
	text-align: center;
	margin: 0;
}

#map-legend.up .show-legend:hover
{
	background-color: #000;
}

.show-legend:hover,
#map-legend.up .show-legend
{
	background-color: #000;
	background-color: rgba(0,0,0,0.6);
}

.down-arrow,
.up-arrow
{
	margin: 0;
}

#map-legend.down .down-arrow,
#map-legend.up .up-arrow
{
	display: none;
}